$red-color: #ef3054;
$yellow-color: #f3de8a;
$light-grey-color: rgba(0, 0, 0, 0.300);
$white-color: #f0f0f0;
$fade-white-color: #efefef;
$black-color: #292f36;
$corner-radius: 8px;

$font: 'Montserrat', sans-serif;
$heading-font: 'Yatra One', cursive;

$small-font: 1.125rem;
$medium-font: 1.5rem;
$large-font: 3rem;
$banner-font: 4rem;

$m-small-font: 0.75rem;
$m-medium-font: 1.25rem;
$m-large-font: 2rem;
$m-banner-font: 3rem;
